[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
flask = "*"
flask-migrate = "*"
python-dotenv = "*"
flask-sqlalchemy = "*"
psycopg2-binary = "*"
flask-script = "*"
flask-bcrypt = "*"
flask-restful = "*"
flask-jwt-extended = "*"
email-validator = "*"

[requires]
python_version = "3.7"
